*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: bisque;
    padding: 10px 20px;
    color: brown;
}

.container{
    padding: 10px;
}

.book-container{
    padding: 50px;
    width: 25%;
    background-color: antiquewhite;
    border-radius: 15px;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}

.book-container h2 {
    color:brown;
}

.book-container button{
    background-color: darkred;
    color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin-top: 10px;
}

.add-button{
    background-color: bisque;
    color: brown;
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.popup-overlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: none;
}

.popup-box{
    background-color: brown;
    width: 40%;
    padding: 40px;
    border-radius: 15px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;
}

.popup-box input{
    background:transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid burlywood 2px;
}

.popup-box textarea{
    background:transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid burlywood 2px;
}

.popup-box input::placeholder{
    color: burlywood;
}

.popup-box textarea::placeholder{
    color: burlywood;
}

.popup-box button{
    background-color: burlywood;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: brown;
    margin: 5px;
}

.book{
    color: burlywood;
}

.popup-box input:focus{
    outline: none;
}

.popup-box textarea:focus{
    outline: none;
}

